@import "prepross.css";

$browser-background: #08c;
$browser-text: #fff;
$browser-link: #FFEB3B;

*:focus {
	outline: none;
}

@-webkit-keyframes fondu-background {
  0%   { opacity: 0; }
  30%  { opacity: 0; }
  100% { opacity: 1; }
}

body {
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	background: #333;
}

.imgBackground {
	background: url(../img/background4.jpg) #000 no-repeat center center fixed;
	z-index: -5;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: cover;
	transition: opacity 3s linear;
	animation: fondu-background 2s;
}

.logo {
	height: 25px;
	width: auto;
	margin-top: 5px;
}

paper-toolbar.paper-toolbar-0 {
	background: #37474F;
	&.transparent {
		background: transparent;
	}
}


.browserupgrade {
	margin: 0;
	background: $browser-background;
	color: $browser-text;
	text-align: center;
	line-height: 50px;
	font-weight: 300;
	a{
		color: $browser-link;
	}
}

paper-menu {
	paper-item.paper-item-0 {
		iron-icon {
			margin-right: 15px;
		}

		a {
			display: block;
			color: inherit;
			width: 100%;
			text-decoration: none;
		}
	}
}

paper-card .card-content {
    padding: 0px;
    position: relative;
}

.scrollable.paper-dialog-scrollable {
	padding: 0;
}

#main.paper-drawer-panel {
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.4) 0%,rgba(0,0,0,.6) 75%,rgba(0,0,0,.8) 100%);
	div.main-content {
		margin: 0;
    	height: 100vh;
	}
}


my-meals-list {
	height: 100%;
}
