@import "prepross.css";

$browser-background: #08c;
$browser-text: #fff;
$browser-link: #FFEB3B;

*:focus {
	outline: none;
}

body {
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	background: url(../img/background.jpg) #000 no-repeat center center fixed;
	background-size: cover;
}

.content {
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.4) 0%,rgba(0,0,0,.6) 75%,rgba(0,0,0,.8) 100%);
}

paper-toolbar.transparent {
	background: transparent;
	.logo {
		height: 25px;
		width: auto;
	}
}

.browserupgrade {
	margin: 0;
	background: $browser-background;
	color: $browser-text;
	text-align: center;
	line-height: 50px;
	font-weight: 300;
	a{
		color: $browser-link;
	}
}

paper-header-panel .paper-toolbar-0 {
	background: #263238;
}

paper-item.paper-item-0 {
	iron-icon {
		margin-right: 15px;
	}

	a {
		display: block;
		color: inherit;
		width: 100%;
		text-decoration: none;
	}
}
#main {
	background: #eee;
	//height: 100vh;
	div.main-content {
		margin: 0;
    	height: 100vh;
	}
}


my-meals-list {
	height: 100%;
}
